<?php

$this->headTitle($title);

$form->prepare();

$categoryTitle = $form->get('name');
$categoryDescription = $form->get('description');

$submit = $form->get('submit');
?>

<h1><?= $this->escapeHtml($title) ?></h1>

<div class="row">
    <div class="col-md-12">
        <?= $this->form()->openTag($form); ?>

        <div class="form-group">
            <?= $this->formLabel($categoryTitle); ?>
            <?= $this->formElement($categoryTitle); ?>
            <?= $this->formElementErrors()->render($categoryTitle, ['class' => 'help-block']); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($categoryDescription); ?>
            <?= $this->formElement($categoryDescription); ?>
            <?= $this->formElementErrors()->render($categoryDescription, ['class' => 'help-block']); ?>
        </div>


        <?= $this->formSubmit($submit); ?>

        <?= $this->form()->closeTag(); ?>
    </div>
</div>
