<?php

/**
 * @var Category[] $categories
 */

$title = 'Categories';
$this->headTitle($title);
?>

<div class="row d-flex align-items-center">
    <div class="col-md-9">
        <h1><?= $this->escapeHtml($title) ?></h1>
    </div>
    <div class="col-md-3 text-right">
        <a href="<?= $this->url('category', ['action' => 'add']); ?>" class="btn btn-primary">Add Category</a>
    </div>
</div>

<div class="row mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Recipies</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tbody>
        <?php foreach ($categories as $category): ?>
            <tr>
                <td>
                    <a href="<?= $this->url('category', ['action' => 'edit', 'id' => $category->getId()]) ?>">
                        <?= $category->getName() ?>
                    </a>
                    <p class="text-muted">
                        <?= $category->getDescription(); ?>
                    </p>
                </td>
                <td>
                    <?= $category->getRecipiesCount(); ?>
                </td>
                <td style="text-align: right;">
                <?php if (0 === $category->getRecipiesCount()): ?>
                    <a href="<?= $this->url('category', ['action' => 'delete', 'id' => $category->getId()]) ?>" class="btn btn-danger">
                        Delete
                    </a>
                <?php endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>
