<?php

$this->headTitle($title);

$this->inlineScript()->prependFile($this->basePath('js/vendor/marked.min.js'));

$form->prepare();

$recipeTitle = $form->get('name');
$category = $form->get('category');
$recipeDescription = $form->get('text');
$submit = $form->get('submit');
?>

<h1><?= $this->escapeHtml($title) ?></h1>

<div class="row">
    <div class="col-md-12">
        <?= $this->form()->openTag($form); ?>

        <div class="form-group">
            <?= $this->formLabel($recipeTitle); ?>
            <?= $this->formElement($recipeTitle); ?>
            <?= $this->formElementErrors()->render($recipeTitle, ['class' => 'help-block']); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($category); ?>
            <?= $this->formElement($category); ?>
            <?= $this->formElementErrors()->render($category, ['class' => 'help-block']); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($recipeDescription); ?>
            <?= $this->formElement($recipeDescription); ?>
            <?= $this->formElementErrors()->render($recipeDescription, ['class' => 'help-block']); ?>
        </div>

        <div class="textarea-markdown"></div>

        <?= $this->formSubmit($submit); ?>

        <?= $this->form()->closeTag(); ?>
    </div>
</div>

<?php

$this->inlineScript()->captureStart();
echo <<<JS

function MarkdownPreview(selector) {
    this.el = document.querySelector(selector);
}

MarkdownPreview.prototype.setText = function(text) {
    this.el.innerHTML = marked(text, { sanitize: true });
};

$(function() {
    var md = new MarkdownPreview('.textarea-markdown');
    var textarea = $('.js-markdown-preview');

    md.setText(textarea.val());

    textarea.on('keyup', function(e) {
        md.setText(textarea.val());
    });
});
JS;
$this->inlineScript()->captureEnd();
