<?php

/**
 * @var Recipe[] $recipies
 */

$title = 'Recipies';
$this->headTitle($title);
?>
<div class="row d-flex align-items-center">
    <div class="col-md-9">
        <h1><?= $this->escapeHtml($title) ?></h1>
    </div>
    <div class="col-md-3 text-right">
        <a href="<?= $this->url('recipe', ['action' => 'add']); ?>" class="btn btn-primary">Add Recipe</a>
    </div>
</div>

<div class="row mb-4 mt-3">
    <div class="col-md-12">
        <form type="GET">
            <input type="search" name="query" class="form-control js-recipe-search" placeholder="Search Recipe..." value="<?= $query ?>">
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>
            <?php foreach ($recipies as $recipe): ?>
                <tr>
                    <td>
                        <a href="<?= $this->url('recipe', ['action' => 'edit', 'id' => $recipe->getId()]); ?>">
                            <?= $recipe->getName() ?>
                        </a>
                    </td>
                    <td>
                    <?php if (null !== $recipe->getCategory()): ?>
                        <a href="<?= $this->url('category', ['action' => 'edit', 'id' => $recipe->getCategory()->getId()]); ?>" target="_blank">
                            <?= $recipe->getCategory()->getName(); ?>
                        </a>
                    <?php endif; ?>
                    </td>
                    <td style="text-align: right;">
                        <a href="<?= $this->url('recipe', ['action' => 'delete', 'id' => $recipe->getId()]); ?>" class="btn btn-danger">
                            Remove
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>